/* Hero */
.Hero{
  width: 100%;
  position: relative;
}
.Hero__image{
  background-size: cover;
  background-repeat: no-repeat;
}
.Hero__content{
  position: absolute;
  max-width: 100%;
  width: 50%;
  top: 50%;
  right: 0;
  @include prefix(transform, translateY(-50%));
}
.Hero__heading{
  font-size: 7.2rem;
  margin-bottom: 30px;
  font-weight: 300;
}
.Hero__subheading{
  @include book(3rem);
  margin-bottom: 30px;
}
.Hero__button{
  @include flex-center();
  width: 200px;
  height: 50px;
}
.Hero__link{
  display: block;
}
@include maxQuery(1200px){
  .Hero__heading{
  }
  .Hero__content{
    width: 60%;
  }
}
@include maxQuery(768px){
  .Hero__heading{
    font-size: 5rem;
  }
  .Hero__subheading{
    font-size: 2.4rem;
  }
  .Hero__button{
    font-size: 1.8rem;
  }
  .Hero__content{
    width: 65%;
  }
}
@include maxQuery(500px){
  .Hero__heading{
    font-size: 3.5rem;
  }
  .Hero__subheading{
    font-size: 2.4rem;
  }
  .Hero__content{
    width: 100%;
    padding: 0px 20px;
    @include flex();
    @include justify-content(flex-end);
  }
}