.ProductSlider{
  position: relative;
}
.ProductSlider__heading{
  @include medium(2.4rem);
  margin-bottom: 10px;
}
.ProductSlider__subheading{
  @include book(1.6rem);
}

.ProductSlider__slide{
  text-align: center;
}

.ProductSlider__swiper-scrollbar{
  height: 3px;
  background-color: #eaeaea;
  .swiper-scrollbar-drag{
    border-radius: 0;
    background-color: #bbbbbb;
  }
}

.ProductSlider__arrow{
  z-index: 3;
  height: 100%;
  width: 2.5%;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  @include prefix(transform, translateY(-50%));
  @include flex();
  @include align-items(center);
  @include justify-content(center);
  &:hover{
    color: $accent-color;
    cursor: pointer;
  }
}
.ProductSlider__arrow--next{
  right: 0px;
}
.ProductSlider__arrow--prev{
  left: 0px;
}
.ProductSlider__arrow{
  color: $font-dark;
  &:hover{
    color: $accent-color;
  }
}
.ProductSlider__arrow.swiper-button-disabled{
  opacity: 0;
}