/* HomeBanner */
.HomeBanner{
  width: 100%;
  position: relative;
}
.HomeBanner__image{
  background-size: cover;
  background-repeat: no-repeat;
}
.HomeBanner__content{
  position: absolute;
  max-width: 100%;
  width: 40%;
  top: 50%;
  right: 0;
  @include prefix(transform, translateY(-50%));
}
.HomeBanner__heading{
  font-size: 4.8rem;
  margin-bottom: 30px;
  font-weight: 300;
}
.HomeBanner__subheading{
  @include medium(2.4rem);
  margin-bottom: 30px;
}
.HomeBanner__button{
  @include flex-center();
  width: 200px;
  height: 50px;
}
.HomeBanner__link{
  display: block;
}
@include maxQuery(1000px){
  .HomeBanner__heading{
  }
  .HomeBanner__content{
    width: 60%;
  }
}
@include maxQuery(768px){
  .HomeBanner__heading{
    font-size: 5rem;
  }
  .HomeBanner__subheading{
    font-size: 2.4rem;
  }
  .HomeBanner__button{
    font-size: 1.8rem;
  }
  .HomeBanner__content{
    width: 65%;
  }
}
@include maxQuery(500px){
  .HomeBanner__heading{
    font-size: 3.5rem;
  }
  .HomeBanner__subheading{
    font-size: 2.4rem;
  }
  .HomeBanner__content{
    width: 100%;
    padding: 0px 20px;
    @include flex();
    @include justify-content(flex-end);
  }
}