.Footer{
  background-color: $bg-dark;
}

.Footer__menu{
  @include flex();
}
.Footer__menu-row{
  @include flex();
  flex-flow: row wrap;
  @include align-items(center);
}
.Footer__menu-link{
  border-right: 1px solid white;
  padding-right: 10px;
  padding-left: 10px;
  @include medium(1.4rem);
  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    border-right: none;
  }
  a{
    color: white;
    &:hover{
      color: $accent-color;
    }
  }
}

.Footer__form #contact_form{
  border-bottom: 1px solid white;
  display: inline-block;
  max-width: 100%;
  width: 500px;
  @include inline-flex();
  @include align-items(center);
  input{
    height: 35px;
    border: none;
    @include medium(1.4rem);
    background-color: transparent;
    color: white;
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin-bottom: 0;
    @include placeholder{
      color: white;
      opacity: 1;
    }
  }
  button{
    width: 10%;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
    @include justify-content(flex-end);
    &:hover{
      color: $accent-color;
      background-color: transparent;
    }
  }
}
.Footer__social{
  a{
    color: white;
    font-size: 2.5rem;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.Footer__copyright{
  color: white;
  @include book(1.4rem);
}

@include maxQuery($m){
  .Footer__menu-row{
    @include flex();
    @include justify-content(center);
    flex-flow: row wrap;
    flex-direction: column-reverse;
    .column{
      width: 100%;
    }
  }
  .Footer__menu{
    @include justify-content(center);
    flex-flow: row wrap;
  }
  .Footer__form{
    @include flex();
    @include justify-content(center);
  }
}