.CollectionProduct{
  text-align: center;  
}
.CollectionProduct__image{
  border: 1px solid $border-color;
}
.CollectionProduct__title{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  @include book(1.8rem);
  color: $font-dark;
  &:hover{
    color: $accent-color;
  }
}

.CollectionProduct__price{
  @include medium(1.4rem);
}
.CollectionProduct__price--sale,
.CollectionProduct__price--from{
  color: $accent-color;
}
.CollectionProduct__price--old{
  color: $font-gray;
  position: relative;
  padding-right: 4px;
  margin-right: 4px;
  &:after{
    content:'';
    display: block;
    height: 12px;
    right: -2px;
    background-color: $font-gray;
    width: 1px;
    top: 50%;
    @include prefix(transform, translateY(-50%));
    position: absolute;
  }
}

.CollectionProduct .Product__swatches{
  @include justify-content(center);
  margin-bottom: 15px;
}
.CollectionProduct .Product__swatch{
  outline: none;
  &::-moz-focus-inner {
    border: 0;
  }
}
.CollectionProduct--quickadd{
  .CollectionProduct__image-container{
    position: relative;
    overflow: hidden;
    img{
      vertical-align: middle;
    }
  }
  .CollectionProduct__size-variants{
    @include flex();
    @include align-items(center);
    flex-flow: row wrap;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: -70px;
    background-color: rgba(255,255,255,.75);
    padding-top: 5px;
    padding-bottom: 5px;
    transition: bottom .3s;
    @include maxQuery($s){
      display: none;
    }
  }
  .CollectionProduct__size-variants-label{
    display: block;
    @include medium(1.4rem);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
  }
  .CollectionProduct__size-variant{
    background-color: transparent;
    padding: 0;
    color: black;
    flex: 1;
    transition: color .3s;
    &:hover{
      color: $accent-color;
    }
  }
  &:hover{
    .CollectionProduct__size-variants{
      bottom: 0;
    }
  }
}