.CollectionFilter--mobile{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  .CollectionFilter__dropdown-trigger{
    display: none;
    @include s(){
      margin-bottom: 0;
      display: block;
      width: 100%;
      border-right: 1px solid $border-color;
      border-bottom: 0;
      &:hover{
        background-color: transparent;
        color: $font-dark;
      }
    }
  }
  @include s(){
    display: none;
  }
}
.CollectionFilter--mobile .CollectionFilter__category{
  margin-top: 20px;
  display: none;
  @include s(){
    margin-top: 0;
    display: block;
    &:last-child{
      .CollectionFilter__dropdown-trigger{
        border-bottom: 1px solid $border-color;
      }
    }
  }
}
.CollectionFilter--mobile .CollectionFilter__category.active{
  display: block;
  .CollectionFilter__dropdown{
    display: block;
  }
  .CollectionFilter__dropdown-trigger{
    border-bottom: 1px solid $border-color;
    margin-bottom: 10px;
  }
}
.CollectionFilter--mobile .CollectionFilter__dropdown-trigger{
  position: relative;
  span{
    @include medium(1.4rem);
    position: absolute;
    top: 50%;
    @include prefix(transform, translateY(-50%));
    right: 20px;
  }
}

.CollectionFilter--mobile .CollectionFilter__dropdown{
  @include s(){
    display: none;
  }
}

.Collection__mobile-sort{
  display: none;
  @include maxQuery(1000px){
    @include flex();
    @include align-items(center);
    @include justify-content(space-between);
    .select-wrapper{
      width: auto;
      margin-bottom: 0;
    }
  }
}
.CollectionFilter__mobile-trigger{
  width: auto;
  background-color: transparent;
  border: 1px solid $border-color;
  color: $font-dark-gray;
  margin-bottom: 0 !important;
  height: 30px;
  @include book(1.25rem);
  padding-right: 30px;
  display: inline-block;
  &:hover{
    background-color: transparent;
    border-color: $border-color;
  }
}