<!-- /templates/search.liquid -->

{% comment %}
  To return only products or pages in results http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
  Or manually add type=product or type=page to the search URL as a parameter
{% endcomment %}

{% assign search_show_button = true %}

{% paginate search.results by 10 %}
  <div class="SearchPage l-padding-top-5x m-padding-top-5x s-padding-top-3x padding-bottom-5x">
  <div class="container l">
    <div class="row">
      <div class="column l12 m12 s12">
        {% include 'theme-breadcrumbs' %}
        <h1>{{ 'search.title' | t }}</h1>
        {% if search.performed %}
          {% if search.results_count > 0 %}
            <h1 class="h3">{{ 'search.results_for_html' | t: terms: search.terms }}</h1>
          {% else %}
            <h1 class="h3">{{ 'search.no_results_html' | t: terms: search.terms }}</h1>
          {% endif %}
        {% endif %}
        <div class="SearchPage__form-container margin-bottom-3x">
          {% include 'form-search' %}
        </div>
      </div>
    </div>
    {% if search.performed %}
        <div class="row">
        {% for item in search.results %}
          {% if item.price %}
            {% assign product = item %}
            <div class="column l3 m3 s6">
              {% include 'collection-product-quickadd' %}
            </div>
          {% endif %}
        {% endfor %}
        </div>

      {% include 'theme-pagination' with 'hr' %}

    {% endif %}

  </div>
</div>
{% endpaginate %}
