{% assign categories = '' %}
{% assign categories = categories | split: '' %}
{% assign lastCategory = '' %}
<ul class="CollectionFilter CollectionFilter--desktop">
{% for tag in collection.all_tags %}
  {% if tag contains '_' %}
    {% assign categoryCheck = tag | split:'_' | first %}
    {% unless categories contains categoryCheck %}
      {% if lastCategory != '' and lastCategory != categoryCheck %}
        </li>
      {% endif %}
      {% if lastCategory != categoryCheck %}
        <li class="CollectionFilter__category">
          <button class="CollectionFilter__dropdown-trigger js-dropdownTrigger" type="button" data-category="{{categoryCheck}}">{{categoryCheck}}</button>
      {% endif %}
      {% assign categories = categories | append: categoryCheck %}
      {% assign lastCategory = categoryCheck %}
    {% endunless %}
  {% endif %}

  {% if forloop.last %}
  </li>
  {% endif %}
{% endfor %}
</ul>
{% comment %}
{% include 'collection-filter-values' %}
{% endcomment %}
