.RequestedRecover{
  display: none;
  p{
    color: $accent-color;
  }
}
.LoginRegister{
  min-height: 52vh;
  input{
    padding-left: 5px !important;
    margin-bottom: 10px;
  }
  button{
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

#PasswordRecoverForm{
  button{
    margin-top: 20px;
  }
}