.Contact{
  min-height: 71vh;
}
.Contact__heading{
  text-align: center;
}
.Contact__links{
  @include flex();
  flex-flow: row wrap;
  margin-top: 20px;
  @include justify-content(space-between);
}
.Contact__rte{
  @include book(1.4rem);
}
.Contact__link{
  @include flex();
  @include align-items(center);
  @include s(){
    margin-bottom: 15px;
  }
  img{
    margin-right: 5px;
  }
  a{
    @include medium(1.4rem);
    color: $font-dark;
    text-decoration: underline;
    &:hover{
      color: $accent-color;
    }
  }
}
