.Page{
  min-height: 75vh;
  strong{
    font-weight: 500;
    @include medium(1.4rem);
  }
  .rte{
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    div{
      margin-bottom: 20px;
    }
    @include s(){
      max-width: 100%;
    }
  }
}
.Page__heading{
  text-align: center;
  font-weight: 500;
  width: 100%;
}

