.MobileNav{
  background-color: $bg-light;
  padding: 0;
  a, span{
    color: $font-dark;
    text-transform: uppercase;
  }
}
.MobileNav__close-container{
  text-align: right;
  position: relative;
  height: 50px;
}
.MobileNav__close-container .MobileNav__close{
  position: absolute;
  top: 50%;
  @include prefix(transform, translateY(-50%));
  right: 10px;
  .fa{
    line-height: .7;
  }
  .fa-times-thin:before {
    content: '\00d7';
    font-size: 20px;
  }
}
$mobilenav-tier1-padding: 10px;
$mobilenav-tier2-padding: 25px;
$mobilenav-tier3-padding: 30px;

.MobileNav__dropdown-heading{
  .fa-caret-down,
  .fa-caret-up{
    display: inline-block;
    margin-left: 10px;
  }
}
.MobileNav__dropdown-heading--first.active{
  border-bottom: 1px solid $border-color;
}
.MobileNav__dropdown .dropdown-menu{
  display: none;
}
.MobileNav__dropdown--first .MobileNav__dropdown-heading--first,
.MobileNav__standard-link,
.MobileNav__account-link{
  border-top: 1px solid $border-color;
  display: block;
  width: 100%;
  padding-left: $mobilenav-tier1-padding;
  padding-top: 10px;
  padding-bottom: 10px;
  @include medium(1.4rem);
}

.MobileNav__dropdown--second{
  padding-left: $mobilenav-tier2-padding;
  padding-top: 10px;
  padding-bottom: 10px;
  @include book(1.2rem);
  &:last-child{
    padding-top: 0;
  }
}

.MobileNav__dropdown--third{
  padding-left: $mobilenav-tier3-padding;
  padding-top: 5px;
  padding-bottom: 5px;
}

.MobileNav__account-link{
  @include book(1.4rem);
  &:last-child{
    border-bottom: 1px solid $border-color;
  }
}
