.Product__swatch{
  .grey-stripe{background-color: #CECECE;}
  .blue-stripe{background-color: blue;}
  .blue-heather{background-color: cyan;}
  .ivory{background-color: #fffff0;}
  .white{background-color: white;}
  .black{background-color: black;}
}
