.Product__swatch{
  .beetroot-pink{background-color: #FF4B66;}
  .black{background-color: black;}
  .black-multi{background-image: url("https://cdn.shopify.com/s/files/1/2636/2108/files/black_multi_stars.jpg?5826712865849669844");}
  .blue-stripe{background-color: blue;}
  .blue-heather{background-color: cyan;}
  .classic-grey-check{background-color: #656565;}
  .classic-red-check{background-color: #B20000;}
  .dress-blues{background-color: #003B6F;}
  .grey-camo{background-color: #868685;}
  .grey-space-dye{background-color: #5a4c42;}
  .grey-stripe{background-color: #CECECE;}
  .heather-gray{background-color: #9aa297;}
  .ivory{background-color: #fffff0;}
  .lavendula{background-color: #B48FD9;}
  .light-gray{background-color: #D3D3D3;}
  .nickel{background-color: #878887;}
  .space-dye-grey{background-color: #5a4c42;}
  .white{background-color: white;}
}
