.PopupCart{
  overflow-y: scroll;
  padding: 15px;
  position: fixed;
  z-index: 11;
  top: 0px !important;
  width: 300px;
  bottom: 0;
  background-color: white;
  border: 1px solid black;
  right: 0px;
  transition: right .3s;
  .top-half{
    width: 100%;
  }
  .PopupCart__title{
    border-bottom: 1px solid $border-color;
    text-align: center;
    @include book(2em);
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  .PopupCart__product{
    width: 100%;
    @include flex();
    flex-flow: row wrap;
    padding: 20px 0px;
    border-bottom: 1px solid $border-color;
    &:last-child{
      border-bottom: none;
    }
  }
  .PopupCart__product__image{
    width: 34%;
    padding-right: 1%;
  }
  .PopupCart__product__title-price{
    width: 64%;
    padding-left: 1%;
    .PopupCart__product__title{
      @include book(1em);
      display: block;
      margin-bottom: 5px;
    }
    .PopupCart__product__price{
      @include medium(1em);
      display: block;
      margin-bottom: 15px;
    }
    .PopupCart__product__properties{
      margin-bottom: 15px;
    }
  }
  .PopupCart__product__quantity-container{
    width: 100%;
    @include flex();
    justify-content: space-between;
    .PopupCart__product__quantity-controls{
      @include flex();
    }
    .PopupCart__product__quantity-adjust-parent{
      @include inline-flex();
      border: 1px solid black;
      align-items: center;
      justify-content: center;
      a{
        display: inline-block;
        padding: 7px 15px;
      }
      &:nth-child(2){
        padding: 1px 15px;
        border-right: none;
        border-left: none;
      }
    }
    .remove{
      @include flex();
      align-items: center;
      justify-content: center;
      svg{
        height: 15px;
        width: 15px;
        transition: fill .3s;
        &:hover{
          fill: red;
        }
      }
    }
  }
  .subtotal{
    padding: 15px 0px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    width: 100%;
    @include flex();
    justify-content: space-between;
    font-size: 1em;
    .label{
      @include book(1em);
      text-transform: uppercase;
    }
    .price{
      @include medium(1em);
    }
  }
  .action-buttons{
    font-size: 1em;
    margin-bottom: 20px;
    button, .close{
      text-align: center;
      width: 100%;
      @include flex();
      align-items: center;
      justify-content: center;
      @include book(1em);
      text-transform: uppercase;
      border: 0px;
      height: 30px;
      transition: box-shadow .3s;
      &:hover{
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(66,66,66,0.73)
      }
    }
    .checkout{
      color: white;
      background-color: black;
      margin-bottom: 10px;
    }
    .close{
      color: black;
      background-color: black;
    }
  }
  .empty-cart-message{
    margin-top: 15px;
    @include medium(1em);
  }
}
#Cart-Drawer-Container.push{
  right: 0;
}