.Gift__title{
  @include book(3rem);
}
.Gift__description{
  @include medium(1.4rem);
}
.Gift__form{
  @include flex();
  flex-flow: row wrap;
}
.Gift__select-wrapper{
  @include flex();
  @include align-items(center);
  width: 50%;
  label{
    text-transform: uppercase;
    margin-bottom: 0;
    @include medium(1.4rem);
  }
  select{
    @include medium(1.4rem);
  }
  margin-bottom: 20px;
}
.Gift__input[type="text"],
.Gift__input[type="email"],
textarea.Gift__input{
  width: 100%;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid $border-color;
  background-color: $bg-light;
  margin-bottom: 20px;
  @include medium(1.4rem);
  @include placeholder{
    color: $font-gray;
    text-transform: uppercase;
  }
}
.Gift__add{
  height: 50px;
  width: 100%;
  background-color: $accent-color;
  &:hover{
    background-color: darken($accent-color, 10%);
  }
}