.ProductPage{
  min-height: 71vh;
}
.Product__heading--mobile{
  display: none;
  @include s(){
    display: block;
    width: 100%;
  }
}
.Product__heading--desktop{
  @include s(){
    display: none;
  }
}
.Product__name{
  line-height: 1.5;
  @include book(3rem);
  margin-bottom: 5px;
  @include s(){
    font-size: 2rem;
  }
}
.Product__price{
  display: inline-block;
  @include medium(1.8rem);
  @include s(){
    font-size: 1.4rem;
  }
}
.Product__price--sale{
  color: $accent-color;
}
.Product__price--old{
  color: #b8b8b8;
}
.Product__sku{
  color: $font-gray;
  font-size: 1.2rem;
  margin-bottom: 30px;
  display: inline-block;
}
.Product__description{
  @include book(1.4rem);
  padding-bottom: 10px;
}

.Product__form{
  padding-top: 20px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.Product__option{
  @include flex();
  @include align-items(center);
  margin-bottom: 20px;
}
.Product__option--Color{
  margin-bottom: 0;
}
.Product__option-label{
  text-transform: uppercase;
  margin-bottom: 0;
  margin-right: 10px;
}
.Product__option-select{
  @include medium(1.4rem);
  color: $font-dark;
}

.select-wrapper{
  position: relative;
  display: inline-block !important;
  &:after{
    color: $font-dark;
    font-family: FontAwesome;
    content:'\f0d7' !important;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1;
    font-size: 15px;
    @include prefix(transform, translateY(-50%));
  }
  select{
    text-transform: uppercase;
    padding-right: 30px;
    height: 30px;
    padding-left: 10px;
    position: relative;
    z-index: 2;
    &:hover{
      cursor: pointer;
    }
  }
  @include maxQuery($s){
    margin-bottom: 0 !important;
  }
}

.Product__option--Color .Product__option-select-wrapper:after{
  display: none !important;
}
.Product__option__color-label{
  font-size: 1.2rem;
  display: block;
  margin-bottom: 20px;
  color: $font-dark;
}
.Product__swatches{
  @include flex();
  flex-flow: row wrap;
}
.Product__swatch{
  position: relative;
  width: 30px !important;
  height: 30px;
  background-color: transparent;
  border: 1px solid $border-color;
  padding: 0px;
  margin-right: 10px;
  margin-bottom: 5px;
  transition: border-color .3s;
  &:hover{
    background-color: transparent;
    border-color: $accent-dark;
  }
  .Product__swatch-color{
    position: absolute;
    top: 2px;
    right: 2px;
    left: 2px;
    bottom: 2px;
  }
  @include s(){
    margin-bottom: 5px !important;
  }
}
.Product__swatch--active{
  border-color: $accent-dark;
  @include s(){
    border-color: $border-color;
  }
}
.Product__option-select-wrapper--color{
  display: none !important;
}
.Product__option-select-color{
  display: none;
}

.Product__quantity-container{
  @include flex();
  @include align-items(center);
  margin-bottom: 10px;
}
.Product__quantity-label{
  margin-bottom: 0;
  margin-right: 10px;
  text-transform: uppercase;
}
.quantity-wrapper{
  @include flex();
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type=number] {
      -moz-appearance:textfield;
  }
  .Product__quantity{
    width: 50px;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: none;
  }
  .Product__quantity-button{
    background-color: transparent;
    color: $font-dark;
    width: 35px;
    &:hover{
      color: $accent-color;
    }
  }
}
.Product__addToCart{
  background-color: $accent-color;
  width: 100%;
  height: 50px;
  &:hover{
    background-color: darken($accent-color, 5%);
  }
  @include s(){
    margin-bottom: 0 !important;
  }
}

.Product__shipping-link{
  display: inline-block;
  margin-top: 20px;
  @include medium(1.6rem);
  text-decoration: underline;
  color: $accent-color;
  &:hover{
    color: darken($accent-color, 10%);
  }
}

.Product__tab-heading{
  text-transform: uppercase;
  @include medium(1.2rem);
  margin-bottom: 10px;
  &:hover{
    cursor: pointer;
  }
}
.Product__tab-heading.active{
  margin-bottom: 0;
}
.Product__tab-body{
  @include book(1.2rem);
  overflow: hidden;
  max-height: 0;
}
.Product__tab-body.active{
  margin-bottom: 20px;
}

.Product__images-column{
  @include flex();
  @include align-items(flex-start);
  @include justify-content(space-between);
  flex-flow: row-reverse wrap;
}
.Product__main-image{
  width: 78%;
  @include s(){
    width: 100%;
  }
}
.Product__thumbs{
  padding-top: 20px;
  width: 20%;
  position: relative;
  @include s(){
    padding-top: 0;
    margin-bottom: 20px;
  }
}
.Product__thumbs.hide{
  opacity: 0;
}
.Product__thumbs-slider{
  max-height: 440px;
  .swiper-slide{
    position: relative;
    height: 150px !important;
    @include maxQuery($s){
      height: auto !important;
    }
  }
}
.ProductThumbsSliderDots{
  width: 100%;
  .swiper-pagination-bullet{
    border: 1px solid $font-dark;
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;
  }
  .swiper-pagination-bullet-active{
    background-color: $font-dark;
  }
}
@include s(){
  .Product__thumbs{
    width: 100%;
  }
  .Product__main-image{
    display: none;
  }
}

.ProductThumbsSliderArrow{
  font-size: 3rem;
  position: absolute;
  z-index: 10;
  left: 50%;
  width: 100%;
  text-align: center;
  @include prefix(transform, translateX(-50%));  
  &:hover{
    cursor: pointer;
    color: $accent-color;
  }
  @include s(){
    display: none !important;
  }
}
.ProductThumbsSliderArrow--prev{
  top: -20px;
}
.ProductThumbsSliderArrow--next{
  bottom: -20px;
}
.ProductThumbsSliderArrow.swiper-button-disabled{
  display: none;
}
.Product__thumbs-slider .swiper-slide{
  @include flex-center();
}
.Product__video{
  display: none;
  width: 100%;
}
.Product__video-trigger{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex-center();
  .fa.fa-play{
    height: 32px;
    width: 32px;
    border-radius: 30px;
    background-color: #484848;
    color: white;
    position: relative;
    transition: color .3s;
    &:before{
      position: absolute;
      left: 50%;
      top: 50%;
      @include prefix(transform, translate(-50%,-50%));
    }
  }
  &:hover{
    cursor: pointer;
    .fa.fa-play{
      background-color: $accent-color;
    }
  }
}

.Product__social{
  .button.share{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #232221;
    &:hover{
      color: $accent-color;
      background-color: transparent;
    }
  }
}

.Product__related-products{
  .CollectionProduct{
    margin-bottom: 30px;
  }
  .CollectionProduct__image{
    max-height: 218px;
    @include s(){
      max-height: 142.5px;
    }
  }
  .swiper-scrollbar{
    height: 3px;
    background-color: #eaeaea;
    .swiper-scrollbar-drag{
      border-radius: 0;
      background-color: #bbbbbb;
    }
  }
}
.Product__related-products-heading{
  text-transform: uppercase;
  font-weight: 300;
  @include book(2.4rem);
}
.RelatedProductsSlider{
  @include flex();
  @include align-items(center);
}
.RelatedProductsSlider__arrow{
  width: 2.5%;
  font-size: 3rem;
  text-align: center;
  transition: opacity .3s;
  &:hover{
    cursor: pointer;
  }
  @include s(){
    display: none;
  }
}
.RelatedProductsSlider__arrow.swiper-button-disabled{
  opacity: 0;
}
.RelatedProductsSlider__container{
  width: 95%;
  @include s(){
    width: 100%;
  }
}