<!-- /templates/customers/activate_account.liquid -->

<div class="AccountPage LoginRegister container m l-padding-top-10x l-padding-bottom-10x s-padding-top-3x s-padding-bottom-5x">
  <h1>{{ 'account.activate.title' | t }}</h1>
  {% include 'form-activate' %}
</div>
