<!-- /templates/customers/login.recover.liquid -->

<div class="AccountPage container s l-padding-top-10x l-padding-bottom-10x s-padding-top-3x s-padding-bottom-5x">
  <h1>{{ 'account.recover.title' | t }}</h1>
  {% include 'form-recover' %}
</div>
