<div class="container xl margin-bottom-10x">
  <div class="row">
    <div class="HomeCollections">
    {% for block in section.blocks %}
      <div class="column l4">
        <div class="HomeCollection">
          <img src="{{block.settings.image | img_url:'master'}}" alt="{{block.settings.image.alt}}">
          <div class="HomeCollection__subheading">SHOP</div>
          <h3 class="HomeCollection__heading">
            {{block.settings.title}}
          </h3>
          <a href="{{block.settings.collection.url}}" class="Button HomeCollection__button">Shop Now</a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collections",
    "blocks":[
      {
        "name":"Collection",
        "type":"collection",
        "limit":3,
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"collection",
            "id":"collection",
            "label":"Collection"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Collection Name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collections",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
