<!-- /snippets/theme-header.liquid -->
{% assign mainMenu = linklists[section.settings.main_menu] %}
{% assign mobileMainMenu = linklists[section.settings.mobile_main_menu] %}
<header class="Header" role="banner">
  <div class="container xl">
    <div class="row Header__row">
      <div class="Header__nav column l5">
        {% include 'theme-nav-main' with menu:mainMenu %}
      </div>
      <div class="Header__logo column l2">
        {% include 'theme-logo' %}
      </div>
      {% unless template == 'gift_card' %}
      <div class="Header__user column l5">
        {% include 'form-search' %}
        {% if customer %}
          <a class="Header__user-link" href="/account" data-trigger="popup" data-target="#PopupAccount"><i class="icon flaticon-profile"></i></a>
        {% else %}
          <a class="Header__user-link" href="/account"><i class="icon flaticon-profile"></i></a>
        {% endif %}
        <a class="Header__user-link Header__user-link--cart" href="#" data-trigger="popup" data-target="#PopupCart" data-cart-view rv-cloak>
          <i class="icon flaticon-business"></i><span rv-text="cart.item_count"></span>
        </a>
      </div>
      {% endunless %}
      <div class="s-show margin-top-2x">
        <a href="#NavToggled" data-trigger="popup" data-target="#NavToggled">
          {{ 'common.menu' | t }}
        </a>
      </div>
    </div>
  </div>
</header>
<header class="MobileHeader">
  <div class="container xl">
    <div class="row MobileHeader__row">
      {% unless template == 'gift_card' %}
      <div class="MobileHeader__nav column l3">
        <a id="MobileNavToggle" class="js-mobileNavToggle" href="#NavToggled" data-trigger="popup" data-target="#NavToggled">
          <span class="line"></span>
        </a>
        {% include 'theme-nav-toggled' with menu:mobileMainMenu %}
      </div>
      {% endunless %}
      <div class="MobileHeader__logo column l6">
        {% include 'theme-logo' %}
      </div>
      {% unless template == 'gift_card' %}
      <div class="MobileHeader__user column l3">
        <a class="MobileHeader__user-link js-mobileSearchTrigger" href="#">
          <i class="flaticon flaticon-search"></i>
        </a>
        {% if customer %}
          <a class="MobileHeader__user-link" href="/account" data-trigger="popup" data-target="#PopupAccount"><i class="icon flaticon-profile"></i></a>
        {% else %}
          <a class="MobileHeader__user-link" href="/account"><i class="icon flaticon-profile"></i></a>
        {% endif %}
        <a class="Header__user-link Header__user-link--cart" href="#" data-trigger="popup" data-target="#PopupCart" data-cart-view rv-cloak>
          <i class="icon flaticon-business"></i><span rv-text="cart.item_count"></span>
        </a>
      </div>
      {% endunless %}
    </div>
    <div class="MobileSearch js-mobileSearch">
      {% include 'form-search-mobile' %}
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "checkbox",
        "id": "enable_search",
        "label": "Enable search",
        "default": true
      },
      {
        "type":"link_list",
        "id":"main_menu",
        "label":"Main Menu"
      },
      {
        "type":"link_list",
        "id":"mobile_main_menu",
        "label":"Mobile Main Menu"
      }
    ]
  }
{% endschema %}
